body{
    background-image:url("../images/hipsterlandscape.jpg"); 
    /*background-size: 100%;*/
    /*background-color: #1E90FF;*/
    /*background-color: black;    */
}

.titleClass{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    padding-top: 250px;
    color: white;
}


.searchBar{
    text-align:center;
}


#feelLuckyButton{
    
}
.buttonStyle{
   font: bold helvetica times-new-roman;
   background-color:transparent;
   border:2px solid;
   border-color: white;
   color:white;
   border-radius: 2%;
}
.formatLuckyButton{
    text-align:center;
} 

.descript{
    color:black;
    text-align: right;
    position:fixed;
} 

.searchMenu{
    
}

.searchResults0{
    padding: 20px;
    font-family:'Roboto', 'sans-serif';
    text-align: center;
}


