body{
    background-image:url("../images/hipsterlandscape.jpg"); 
    /*background-color: #1E90FF;*/
    /*background-color: black;    */
}

.titleClass{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    padding-top: 250px;
    color: white;
}

.readyToSearchButton{
    text-align: center;
    padding: 30px;
    font-size: 30px;
    /* work on opacity of buttons */
    outline:none;
    background-color:transparent;
    background-repeat:no-repeat;
}

.searchButton{
    
}

.feelLuckyButton{
    text-align:left;
}
 
.descript{
    color:black;
    text-align: right;
} 