body{
    background-image:url("../images/hipsterlandscape.jpg"); 
    /*background-size: 100%;*/
    /*background-color: #1E90FF;*/
    /*background-color: black;    */
}

.titleClass{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    padding-top: 250px;
}


.searchBar{
    text-align:center;
}


#feelLuckyButton{
    
}
.buttonStyle{
   font: bold helvetica times-new-roman;
   background-color:transparent;
   border:2px solid;
   border-color: white;
   color:white;
   border-radius: 2%;
}
.formatLuckyButton{
    text-align:center;
} 

.descript{
    color:black;
    text-align: right;
    position:fixed;
} 

.searchMenu{
    
}

.searchResults{
    margin:20px auto 20px auto;
    padding: 20px;
    font-family:'Roboto', 'sans-serif';
    text-align: left;
    background-color:rgba(255, 255, 255, 0.8);
    width:60%;
    size:16px;
    border:0px solid transparent;
    border-radius:1%;
}

.searchTitle{
    text-align:left;
    font-size:24px;
    margin-bottom:10px;
}

.resultTitle{
    font-size:18px;
}

.resultText{
    font-size:16px;
}

